.containerDemanda {
  display: block;
  width: 100%;
}

.demanda {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0px;
  font-size: x-large;
  color: #f1cb2e;
  font-weight: 100;
}

.demandaInput {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: x-large;
  text-align: center;
}

.containerValues {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 50px;
}
.botones{
  display: flex;
  justify-content:space-around;
}

.boton {
  background-color: #f1cb2e;
  color: black;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  padding: 0;
  font-size: large;
  height: 80px;
  width: 160px;
  margin-top: 20px;
}

.boton:hover {
  background-color: #144071;
  color: white;
  box-shadow: 10px 10px lightblue;
  cursor: pointer;
}
.superContainer{
  display: grid;
  grid-template-columns: 75% 20%;
  column-gap: 10px;
}
.containerTarjetas{
  margin-left: 40px;
  display: block;
  margin-top: 50px;
  height: 440px;
  overflow-y: scroll;
}