.inicio {
    display: block;
}

.boton {
    background-color: #FFFEC4;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0;
    font-size: small;
    height: 50px;
    margin-top: 20px;
}

.boton2 {
    background-color: #FFFEC4;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0;
    font-size: small;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.boton:hover,
.boton2:hover {
    color: red;
    box-shadow: 10px 10px lightblue;
    cursor: pointer;
}

.botones {
    display: flex;
    width: 100%;
    margin: 10% 40%;
    flex-direction: column;
}

.celdaHead {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.celdaRow {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.celdaRow2 {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange
}
.bg {
    background-color: #FFFEC4;
}

.colorOne {
    background: linear-gradient(to right, #144071 0%, #356296 65%, #7da6d5 100%);
}

.contenido {
    margin-top: 30px;
    display: block;
    width: 80%;
}

.date {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.superCentrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 80% 20%;
}

.empanadaContainer {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.empanada {
    display: flex;
    width: 80%;
    justify-content: center;
}
.containerDemanda {
    display: block;
    width: 100%;
  }
  
  .demanda {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0px;
    font-size: x-large;
    color: #f1cb2e;
    font-weight: 100;
  }
  .black{
    color: black;
  }
  .TTblas{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 80%;
  }