.container{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 95%;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #144071;
    color: white;
    font-size: x-large;
}
.input{
    font-size: xx-large;
    border: none;
    background-color: #6da1db;
}